<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.153908846155116 -0.0264787260602576 0.440204393197879"
        rpy="0 0 0" />
      <mass
        value="2.34759592693503" />
      <inertia
        ixx="0.0155302070488227"
        ixy="-7.39561406346257E-17"
        ixz="9.15261970893086E-10"
        iyy="0.0155302070488227"
        iyz="7.75230613136675E-10"
        izz="0.0296746391273075" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>